<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>

                <a class="nav-link" href="/Product/Index">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-figma"></i></div>
                    Ürünler
                </a>
                <a class="nav-link" href="/Product/AddProduct">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
                    Yeni Ürün Girişi
                </a>
                <a class="nav-link" href="/Job/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-briefcase"></i></div>
                    Meslekler
                </a>
                <a class="nav-link" href="/Job/AddJob">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-cart-plus"></i></div>
                    Yeni Meslek Girişi
                </a>
                <a class="nav-link" href="/Customer/Index">
                    <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="/Category/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-table-cells"></i></div>
                    Kategoriler
                </a>
                <a class="nav-link" href="/Settings/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
                    Şifre İşlemleri
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-question"></i></div>
                    Yardım
                </a>
                <a class="nav-link" href="~/Login/LogOut">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                    Çıkış
                </a>
            </div>
        </div>
    </nav>
</div>